* {
  padding: 0;
  margin: 0;
}

.headercontact {
  background-image: url("../Image/FONDO (2).jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  font-family: "Montserrat", sans-serif;
}

.textofooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-top: 1.5%;
  font-size: 12px;
}

.btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-success:hover {
  color: #acacac;
  border-color: #acacac;
}

.listafooter {
  list-style: none;
}

.form {
  width: 340px;
  height: 480px;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 40px -10px #000;
          box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.titulocontact {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: black;
  border-bottom: 3px solid black;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  border-bottom: 2px solid black;
  font-family: "Montserrat", sans-serif;
}

input:focus {
  border-bottom: 2px solid black;
  font-family: "Montserrat", sans-serif;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: black;
  font-family: "Montserrat", sans-serif;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  border: 2px solid black;
  background: 0;
  color: black;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background: black;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

span {
  margin: 0 5px 0 15px;
  font-family: "Montserrat", sans-serif;
}

.menudatos {
  content: 'Hi';
  position: absolute;
  bottom: -40px;
  right: -20px;
  background: black;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  -webkit-box-shadow: 10px 10px 40px -14px #000;
          box-shadow: 10px 10px 40px -14px #000;
  font-family: "Montserrat", sans-serif;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .form {
    width: 340px;
    height: 480px;
    background: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 40px -10px #000;
            box-shadow: 0 0 40px -10px #000;
    margin: calc(10vh - 40px) auto;
    max-width: calc(100vw - 40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
  }
}

* {
  padding: 0;
  margin: 0;
}

.headerreserva {
  background-image: url("../Image/FONDO (2).jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 1000px;
  font-family: "Montserrat", sans-serif;
}

h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-top: 1.5%;
  font-size: 12px;
}

.btn-outline-success {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-success:hover {
  color: #acacac;
  border-color: #acacac;
}

.listafooter {
  list-style: none;
}

.formreserva {
  width: 340px;
  height: 750px;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 40px -10px #000;
          box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  margin-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.tituloreserva {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: black;
  border-bottom: 3px solid black;
}

.imput1 {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 2px solid black;
}

input:focus {
  border-bottom: 2px solid black;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #5a5a5a;
}

button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  border: 2px solid black;
  background: 0;
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

button:hover {
  background: black;
  color: #fff;
}

span {
  margin: 0 5px 0 15px;
}

.menudatos {
  content: "Hi";
  position: absolute;
  bottom: -40px;
  right: -20px;
  background: black;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  -webkit-box-shadow: 10px 10px 40px -14px #000;
          box-shadow: 10px 10px 40px -14px #000;
}

span {
  margin: 0 5px 0 15px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .dropdownmenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    width: 100%;
    height: 200px;
  }
  .menu {
    display: block;
  }
  header {
    width: 100%;
    background-color: #fff;
    height: 950px;
  }
  body {
    background-color: #fff;
  }
  .footer {
    width: 100%;
    height: auto;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 2px 2px 3px #999;
            box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .formreserva {
    margin: calc(10vh - 50px) auto;
  }
}

* {
  padding: 0;
  margin: 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 5%;
}

.headerimage {
  height: auto;
  width: auto;
  background-color: #fff;
}

.imagen1 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/1.jpeg);
}

.imagen2 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/2.jpeg);
}

.imagen3 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/3.jpeg);
}

.imagen4 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/4.jpeg);
}

.imagen5 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/5.jpeg);
}

.imagen6 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/6.jpeg);
}

.imagen7 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/7.jpeg);
}

.imagen8 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/8.jpeg);
}

.imagen9 {
  background: #e3e3e3;
  width: 380px;
  height: 300px;
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-image: url(../../Image/9.jpeg);
}

.frente {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  font-family: verdana;
}

.frente:hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .dropdownmenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    width: 100%;
    height: 200px;
  }
  .menu {
    display: block;
  }
  .headerimage {
    width: 100%;
    height: 2550px;
    background-color: #fff;
    padding: 0px;
  }
  body {
    background-color: #fff;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 2500px;
    background-color: #fff;
  }
  .imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6, .imagen7, .imagen8, .imagen9 {
    width: auto;
  }
  .footer {
    width: 100%;
    height: auto;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 2px 2px 3px #999;
            box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
}

.headermaps {
  background-image: url("../Image/FONDO (2).jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 850px;
}

.formubicacion {
  font-family: "Montserrat", sans-serif;
  width: 660px;
  height: 600px;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 40px -10px #000;
          box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  margin-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.mapagoogle {
  width: 600px;
  height: 450px;
}

.menudatos {
  content: "Hi";
  position: absolute;
  bottom: -40px;
  right: -20px;
  background: #000000;
  color: #fff;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  -webkit-box-shadow: 10px 10px 40px -14px #000;
          box-shadow: 10px 10px 40px -14px #000;
  font-family: "Montserrat", sans-serif;
}

span {
  margin: 0 5px 0 15px;
  font-family: "Montserrat", sans-serif;
}

.titulomaps {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #000000;
  border-bottom: 3px solid #000000;
  font-family: "Montserrat", sans-serif;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .dropdownmenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    width: 100%;
    height: 200px;
  }
  .menu {
    display: block;
  }
  .headermaps {
    width: 100%;
    background-color: #fff;
    height: 600px;
  }
  body {
    background-color: #fff;
  }
  .footer {
    width: 100%;
    height: auto;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 2px 2px 3px #999;
            box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .formubicacion {
    width: 445px;
    height: 400px;
    margin: calc(130px - 100px) auto;
  }
  .mapagoogle {
    width: auto;
    height: 250px;
    justify-items: center;
  }
}

.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
}

.titulonosotros {
  color: #fff;
  font-family: "Mrs Saint Delafield", cursive;
  text-align: center;
  font-size: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.cuerponosotros {
  color: black;
  background-color: white;
  font-size: 18px;
  text-align: center;
  margin: 0px;
  height: auto;
  width: auto;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .dropdownmenu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    width: 100%;
    height: 200px;
  }
  .menu {
    display: block;
  }
  .headernosotros {
    height: 800px;
  }
  body {
    background-color: #fff;
  }
  .footer {
    width: 100%;
    height: auto;
  }
  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    -webkit-box-shadow: 2px 2px 3px #999;
            box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .cuerponosotros {
    text-align: center;
    margin: 5px;
  }
}

* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: white;
}

header {
  background-image: url("../Image/FONDO (2).jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  height: 600px;
}

header h1 {
  color: white;
  font-family: "Mrs Saint Delafield", cursive;
  text-align: center;
  font-size: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 200px;
}

header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: overline;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

header .btn-outline-success {
  color: white;
  border-color: white;
}

header .btn-outline-success:hover {
  color: #acacac;
  border-color: #acacac;
}

header .listafooter {
  list-style: none;
}

.body {
  background-color: white;
}

.body h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-top: 1.5%;
  font-size: 12px;
}

.body h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: overline;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-top: 2.5%;
  font-size: 30px;
}

.body .Lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  color: black;
  margin-top: 5%;
  margin-bottom: 5%;
  list-style: none;
}

.body .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 2px 2px 3px grey;
          box-shadow: 2px 2px 3px grey;
  z-index: 100;
}

.body .float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: white;
}

.body .my-float {
  margin-top: 16px;
}

.botonimagen {
  text-decoration: none;
  color: black;
}

.botonimagen:hover {
  color: #acacac;
}

footer {
  background-color: white;
  border-top: 1px solid grey;
}

footer article {
  width: 100%;
  margin: 0px;
  margin-top: 0;
  text-align: center;
  zoom: 1;
}

footer a {
  outline: none;
  border: 0;
  text-decoration: none;
}

footer a svg #facebook,
footer a svg #instagram {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

footer a svg:hover #facebook,
footer a svg:hover #instagram {
  fill: black;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .card, .Lista {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */